body{
	background-image: url(bbs_images/aboutbg.jpg);
}
.name{
	margin-left: 10%;
	color:green;
	font-size:40px;
	margin-top:-3.5%;
}
.name h1{
	color: pink;
	position: absolute;
	left:30%;
	top: -2%;
}
.btn_{
	margin-left:10%;
	margin-top: 3%;
}
.my_font{
	position:relative;
	left: 10%;
	top:4%;
	text-align:left;
	width:50%;
	font-family: "微软雅黑";
	color: #fff; 
	line-height: 28px;
}
#nav{
	position:relative;
	left: 38%;
	width:100%; 
	line-height: 50px; 
	height: 50px; 
	font-family: "微软雅黑"; 
	font-size: 16px; 
}
#nav ul li { 
	display: inline; 
	margin: 0 12px;
	text-align:center;
}
#nav ul li a { 
	color: #000; 
}
.my_ability{
	position:absolute;
	left:65%;
	top:28%;
}
.my_ability h5{
	font-family: "微软雅黑";
	color: pink;
}

