.cheading a{
	color:#fff;
}
.cheading a:hover {color:pink;text-decoration: none;}
.Sform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.Lform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.welcome{
	color: red;
}
.Tform{
	position: absolute;
	left: 8%;
	top: 30%;
}

.menu{
	position: absolute;
	left: 7%;
	top: 20%;
}
.content1{
	position: absolute;
	left:30%;
	top: 30%;

}
.Aform{
	position: absolute;
	left: 8%;
	top: 30%;
}
.exit{
	position: absolute;
	left: 7%;
	top: 40%;
}
.all_news{
	width:50%;
	position:relative;
	left:10%;
	top:5%;
	font-family:"微软雅黑";
	border:1px dashed #fff;
}
#content{
	width: 55%;
}
.center{
	width:50%;
	position:relative;
	left:10%;
	top:5%;
	font-family:"微软雅黑";
	border:1px dashed #fff;
}
.center a{
	color: green;
}
.center a:hover {color:red;text-decoration: none;}   /* 鼠标指针移动到链接上 */
.pages{
	position: relative;
	left: 10%;
	top: 3%;	
}
.hh{
	color:#2F4f4f;
	position:absolute;
	left:53%;
	top:17%;
}
