.center{
	color: blue;
}
.new{
	font-size: 30px;
}
.Sform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.Lform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.welcome{
	color: red;
}
.Tform{
	position: absolute;
	left: 40%;
	top: 48%;
}

.menu{
	position: absolute;
	left: 7%;
	top: 20%;
}
.content1{
	position: absolute;
	left:30%;
	top: 30%;

}
.Aform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.exit{
	position: absolute;
	left: 7%;
	top: 40%;
}
a:hover {color:red;}   /* 鼠标指针移动到链接上 *



	
