.center{
	color: blue;
}
.new{
	color:#8fbc8f;
}
.Sform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.Lform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.welcome{
	color: red;
}
.Tform{
	position: absolute;
	left: 40%;
	top: 48%;
}
*{
	background-color: 
}
.header{
	color:green;


}
.menu{
	position: absolute;
	left: 7%;
	top: 20%;
}
.content1{
	position: absolute;
	left:30%;
	top: 30%;

}
body{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
.Aform{
	position: absolute;
	left: 40%;
	top: 48%;
}
.exit{
	position: absolute;
	left: 7%;
	top: 40%;
}
a:hover {color:red;}   /* 鼠标指针移动到链接上 *



	
